/* ----- GERAL */
*{
    font-family: 'Inter', sans-serif;
}

.container_main {
    display: flex; 
    height: 80vh;
    justify-content: space-between;
    align-items: center;
    padding: 180px;
}

/* -----TEXTO */
.text{
    width: 450px;
}

.text h2{
    font-size: 17px;
    color: #808080;
}

.text h2 span {
    font-size: 45px;
    color: #fff;
}

.text h1{
    font-size: 45px;
    font-weight: bold;
    color: #FA7A32;
    line-height: 50px;
}

.text p{
    width: 305px;
    margin-top: 15px;
    color: #fff;
    font-size: 15px;
}

.text p span{
    color: #FA7A32;
}

.text button{
    margin-top: 19px;
    padding: 14px 38px;
    background-color: #FA7A32;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    border: 2px solid #FA7A32;
    border-radius: 29px;
    transition: .4s;
    cursor: pointer;
}

.text button:hover{
    background: none;
    border: 2px solid #FA7A32;
}

/* FOOTER */

.barra_footer{
    position: absolute;
    bottom: 16px;
    left: 35px;
    width: 94vw;
    height: 28px;
    background-color: rgb(255, 255, 255, 70%);
    transform: rotate(-1deg);
    font-size: 15px;
}

.barra_footer{
display: flex;
justify-content: space-around;
padding: 0 130px;
align-items: center;
font-weight: bold;
}

.barra_footer .iconStar {
    color: #FA7A32;
}